<div class="eccomerce-label">
  <div class="container">
    <img src="/assets/img/twitter.svg" alt="">
    <p>“ E-commerce psd theme available ”</p>
  </div>
</div>
<footer class="footer">
  <div class="footer__wrap container">
    <div class="footer__content">
      <h2 class="footer__title">Trekking</h2>
      <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
        sed do eiusmod tempor incididunt ut labore et dolore<br>
        magna aliqua. Ut enim ad minim veniam, quis nostrud <br>
        exercitation ullamco laboris nisi ut aliquip ex ea <br>
        commodo consequat.</p>
    </div>
    <div class="footer__menu">
      <nav class="footer-menu">
        <ul class="footer-menu__list">
          <li class="footer-menu__item" *ngFor="let elem of menu"><a href={{elem.link}} title={{elem.title}}>{{elem.name}}</a></li>
        </ul>
      </nav>
      <p class="footer__author">Design by gianluca cosetta</p>
    </div>
  </div>
</footer>
