.eccomerce-label {
  background: #535253;
  color: #fff;
  padding: 23px 0;

  img {
    vertical-align: middle;
  }

  p {
    margin: 0 0 0 15px;
    display: inline-block;
  }

}

.footer {
  background: #424242;
  color: #fff;
  padding: 50px 0;
  @media (min-width: 768px) {
    padding: 70px 0;
  }
  @media (min-width: 960px) {
    padding: 106px 0 116px;
  }
  &__wrap {
    @media (min-width: 768px) {
      display: flex;
    }
  }
  &__content {
    @media (min-width: 768px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  &__title {
    font-size: 1.25em;
    text-transform: uppercase;
    margin: 0 0 20px;
  }
  &__text {
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    line-height: 2em;
    margin: 0;

    @media (max-width: 959px) {
      br {
        display: none;
      }
    }
  }
  &__menu {
    margin-top: 25px;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      flex: 0 0 50%;
      max-width: 50%;
      margin-top: 0;
    }
  }
  &__author {
    margin: 12px 0 0;
  }
}

.footer-menu {
  display: inline-block;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  &__item {

    a  {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.875em;
      &::after {
        content: '|';
        padding: 0 5px;
        color: #94886b;
      }
    }

    &:last-child a::after {
      display: none;
    }
  }
}
