.filter {
  background: #f5f6f7;
  &__form {
    padding: 20px 0;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding: 30px 25px;
    }
    @media (min-width: 960px) {
      padding: 45px 32px;
    }
  }
  &__wrap {
    @media (min-width: 480px) {
      display: flex;
    }
    @media (min-width: 480px) and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &__checkbox {
    margin-bottom: 15px;
    @media (min-width: 480px) {
      margin: 0 40px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }

  }
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 50px 0;

  @media (min-width: 768px) {
    margin: 70px 0;
  }
  @media (min-width: 968px) {
    margin: 80px 0 220px;
  }
}
.product {
  flex: 0 0 100%;
  margin: 0 0 30px;

  @media (min-width: 768px) {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 25px;
  }
  @media (min-width: 960px) {
    flex: 0 0 33%;
    max-width: 33%;
    padding: 0 32px;
  }
  &__wrap {
    position: relative;
    height: 100%;
  }
  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f5f6f7;
    height: 100%;
    border: 6px solid #f5f6f7;
    padding: 50px 18px 22px;
    border-radius: 2px;
    text-decoration: none;
    transition: 0.2s all ease;

    &:hover {
      border-color: #aa9b77;
    }
  }
  &__option {
    position: absolute;
    top: 22px;
    left: 18px;
    z-index: 1;
  }
  &__img {
    text-align: center;
    margin: 30px 0;
  }
  &__param {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title {
    margin: 0;
    font-size: 1.125em;
    font-weight: normal;
    color: #aa9b77;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.4em;
    max-height: 2.8em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

  }
  &__price {
    margin: 0 0 0 10px;
    font-size: 1.375em;
    color: #424242;
  }
}
