<div class="filter">
  <div class="container">
    <form class="filter__form" (change)="changeFilter($event)" (submit)="clearFilter($event)">
      <div class="filter__wrap">
        <label class="checkbox filter__checkbox" *ngFor="let key of objectKeys(showCategory)">
          <input name={{key}} type="checkbox" [attr.checked]="!!showCategory[key] ? 'true' : null">
          <span class="checkbox__elem"></span>
          <span class="checkbox__name">{{key}}</span>
        </label>
      </div>
      <button class="primary-btn btn">see all products</button>
    </form>
  </div>
</div>
<div class="container">
  <ul class="catalog" *ngIf="currentProducts.length">
    <li class="product" *ngFor="let product of currentProducts">
      <div class="product__wrap">
        <div class="product__option">
          <select title="options" name="options" class="select">
            <option *ngFor="let option of product.options" value={{option}}>{{option}}</option>
          </select>
        </div>
        <a href="#" class="product__link">
          <div class="product__img"><img [src]="'/assets/img/' + product.img + '.png'" alt=""></div>
          <div class="product__param">
            <div class="product__title">{{product.name}}</div>
            <p class="product__price">{{product.price}}€</p>
          </div>
        </a>
      </div>
    </li>
  </ul>
  <div class="catalog" *ngIf="!currentProducts.length">
    <p>Sorry, no products matched your selection</p>
  </div>
</div>
