.first-screen {
  background: url("../../assets/img/bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: 100vh;
    }
  }

  &__title {
    font-size: 3.75em;
    text-align: center;
    margin: 0 0 20px;

    @media (max-width: 768px) {
      br {
        display: none;
      }
    }
  }
  &__descr {
    font-size: 1.25em;
    text-align: center;
    @media (max-width: 768px) {
      br {
        display: none;
      }
    }
  }
  &__arrow {
    text-align: center;
    padding: 25px 0;
    @media (min-width: 768px) {
      padding: 40px 0;
    }
    img {
      cursor: pointer;
    }
  }
}

.header {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding: 40px 0;
  }
  &__mobile-btn {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    outline: none;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.menu {

  @media (max-width: 767px) {
    background: #333;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: #000;
    width: 280px;
    transform: translate(-100%, 0);
    opacity: 0;
    transition: 0.25s transform ease-in;
    &.active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  &.active {
    display: block;
  }

  &__bar {
    padding: 25px 15px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    box-shadow: 0 1px 0 rgba(255,255,255,.05);
    flex-basis: 55px;
    display: flex;
    align-items: center;
    color: #fff;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__close {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 14px;
    top: 29px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 15px;
      width: 100%;
      height: 3px;
      background-color: #fff;
      transform: rotate(135deg);
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 15px;
      width: 100%;
      height: 3px;
      background-color: #fff;
      transform: rotate(45deg);
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  &__item {
    color: #ccc;
    border-top: 1px solid rgba(0,0,0,.3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
    text-shadow: 0 1px 0 rgba(0,0,0,.5);

    &:last-child {
      border-bottom: 1px solid rgba(0,0,0,.3);
    }

    @media (min-width: 768px) {
      margin-right: 55px;
      border: none !important;
      box-shadow: none;
      &:last-child {
        margin-right: 0;
      }
    }

  }
  &__item--sp {
    img {
      display: none;
    }
    span {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      display: block;
      padding: 10px 15px;
    }
    @media (min-width: 768px) {
      span {
        display: none;
      }
      img {
        display: inline-block;
      }
    }
  }
  &__link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.25s all ease-in;

    @media (min-width: 768px) {
      border-bottom: 1px solid transparent;
      padding: 0;
      &:hover {
        border-color: #fff;
      }
    }

  }
}
