<section class="first-screen">
  <div class="first-screen__wrap container">
    <header class="header">
      <a href="/"><img src="/assets/img/logo.png" alt=""></a>
      <button class="header__mobile-btn" (click)="toggleMenu($event)">
        <div class="box-bg"></div>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 484.975 484.975" style="enable-background:new 0 0 484.975 484.975;" xml:space="preserve">
                  <g>
                    <g>
                      <g>
                        <path style="fill:#fff;" d="M462.419,165.912H22.556c0,0-22.556,0-22.556-38.287s22.556-38.287,22.556-38.287h439.863
                          c0,0,22.556,0,22.556,38.287S462.419,165.912,462.419,165.912z"/>
                        <path style="fill:#fff;" d="M462.419,280.776H22.556c0,0-22.556,0-22.556-38.288S22.556,204.2,22.556,204.2h439.863
                          c0,0,22.556,0,22.556,38.287C484.975,280.776,462.419,280.776,462.419,280.776z"/>
                        <path style="fill:#fff;" d="M462.419,395.637H22.556c0,0-22.556,0-22.556-38.286c0-38.288,22.556-38.288,22.556-38.288
                          h439.863c0,0,22.556,0,22.556,38.288C484.975,395.637,462.419,395.637,462.419,395.637z"/>
                      </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
              </svg>
      </button>
      <nav class="menu">
        <div class="menu__bar">
          <div class="menu__logo">
            <img src="/assets/img/logo.png" alt="">
          </div>
          <span class="menu__close" (click)="closeMenu()"></span>
        </div>
        <ul class="menu__list">
          <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Products</a></li>
          <li class="menu__item menu__item--sp"><span>Shopping Cart</span><img src="/assets/img/shopping-cart.svg" alt=""></li>
        </ul>
      </nav>
    </header>
    <div class="first-screen__content">
      <h1 class="first-screen__title">Our clothing , your comfort</h1>
      <p class="first-screen__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
        eiusmod tempor incididunt ut labore et dolore <br> magna aliqua.</p>
    </div>
    <span class="first-screen__arrow"><img (click)="scrollTo('.filter')" src="/assets/img/arrow-down.png" alt=""></span>
  </div>
</section>
