/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 960px) {
    font-size: 16px;
  }
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;

  @media (min-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  position: relative;

  &__name {
    text-transform: uppercase;
    font-size: 1.125em;
  }
  &__elem {
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 24px;
    margin-right: 16px;
    background-image: url('./assets/img/checkbox.png');
    background-position: center top;
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    &:checked + .checkbox__elem {
      background-position: center bottom;
    }
  }
}

.select {
  border: none;
  background: transparent;;
  padding: 5px 25px 5px 5px;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('./assets/img/angle-down.png') right center no-repeat;

  &:focus {
    outline-color: #bebfc0;
  }
  &::-ms-expand {
    display: none;
  }

}


.btn {
  box-sizing: border-box;
  display: inline-block;
  line-height: 1.3;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s all ease;

  &:hover {
    text-decoration: none;
  }
}

.primary-btn {
  font-size: 0.875em;
  color: #fff;
  padding: 17px 12px;
  border-radius: 3px;
  background: #aa9b77;
  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
  }
}

.box-bg {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: rgba(0,0,0, 0.6);

  &.active {
    display: block;
  }
}
